@import url(reset.css);
body {
  background-image: url("../src/img/bg.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1;
}
.wrapper {
  max-width: 900px;
  margin: auto;
  padding: 0 10px;
}
header {
  background-color: black;
  box-shadow: 0 -5px 25px black;
}
.header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  color: rgb(242, 248, 233);
  font-weight: 600;
  font-family: consolas;
  font-size: 30px;
  margin-right: 50px;
  line-height: 50px;
  pointer-events: none;
}
ul.header-links-list {
  display: flex;
  /* column-gap: 20px; */
  height: 100%;
}
li {
  height: 100%;
}
.header-link a {
  color: greenyellow;
  display: block;
  font-size: 18px;
  font-family: consolas;
  height: 100%;
  background-color: transparent;
  line-height: 50px;
  padding: 0 10px;
}
.header-link a:hover {
  background-color: rgb(85, 85, 85);
}
.programs-header {
  font-size: 26px;
  font-family: Consolas;
  line-height: 50px;
}
.program-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-right: 0;
  border-left: 0;
  font-family: Consolas;
  font-weight: 400;
  font-size: 16px;
  padding: 0 20px;
  margin: 5px 0;
  cursor: default;
}
.program-card:hover {
  border-color: black;
  font-weight: 600;
}
.program-main-information {
  display: flex;
  align-items: center;
  gap: 10px;
}
.program-preview {
  width: 36px;
  height: 36px;
  background-size: cover;
}

.program-links a {
}

footer {
  min-height: 20px;
  background-color: black;
  position: sticky;
  bottom: 0;
  color: white;
  font-family: Consolas;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
}
